
ul#menu-topo li {
    display: inline;
}

ul#menu-topo li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu_topo li a:hover {
    background-color: orange;
}

#menu-lateral {
	font-style:italic;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
        float: left;
}

#menu-lateral li {
    padding:0;
    margin:0;
    list-style-type: none;
}

#menu-lateral h3 {
    
}
        
#conteudo {
    width: 70%;
}