	<div class="container-fluid">
		<div class="row">
			<div class="col-xm-4 sidebar">
				<div class = "panel-group" id="collap">
					<div class="panel panel-default" style = " border: 0;">
						<div class="panel-heading">
							<%@lojas = Loja.all%>
                                <h4 class="panel-title">    
                            <a data-toggle="collapse" data-parent="#collap" href="#collapse1">
                                loja 1</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<ul class="list-group">
								<a href="#" class="list-group-item">Categoria 1</a>
								<a href="#" class="list-group-item">Categoria 2</a>
								<a href="#" class="list-group-item">Categoria 3</a>
							</ul>
						</div>

						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#collap" href="#collapse2">
							Loja 2</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<ul class="list-group">
								<a href="#" class="list-group-item">Categoria 1</a>
								<a href="#" class="list-group-item">Categoria 2</a>
								<a href="#" class="list-group-item">Categoria 3</a>
							</ul>
						</div>
					</div>

						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#collap" href="#collapse3">
							Loja 3</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<ul class="list-group">
								<a href="#" class="list-group-item">Categoria 1</a>
								<a href="#" class="list-group-item">Categoria 2</a>
								<a href="#" class="list-group-item">Categoria 3</a>
							</ul>
						</div>

						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#collap" href="#collapse4">
							Loja 4</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse">
							<ul class="list-group">
								<a href="#" class="list-group-item">Categoria 1</a>
								<a href="#" class="list-group-item">Categoria 2</a>
								<a href="#" class="list-group-item">Categoria 3</a>
							</ul>
						</div>

						<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#collap" href="#collapse5">
							Ajuda</a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse">
							<ul class="list-group">
								<a href="#" class="list-group-item">FAQ</a>
								<a href="#" class="list-group-item">Contato</a>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>

