
<div class="container-fluid">
	<div class="row">
		<div class="col-xm-4 sidebar">
			<div class = "panel-group" id="collap">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#collap" href="#collapse1">
						Loja 1</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body">
							aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa<br>
							Aqui devia ter categorias
						</div>
					</div>

					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#collap" href="#collapse2">
						Loja 2</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa<br>
							Aqui devia ter categorias
						</div>
					</div>

					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#collap" href="#collapse3">
						Loja 3</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa aaa<br>
							Aqui devia ter categorias
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

