
<!--
<h3 class="link-titulo">Categoria</h3>  			
<ul class="links">					
    <li><a href="#">Primeira</a></li>
    <li><a href="#">Segunda</a></li>
    <li ><a href="#">Terceira</a></li>
    <li ><a href="#">Quarta</a></li>				
</ul>
-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div class="container" id="collap">
        <div class = "row">
            <div class="col-xs-3">
                <a data-toggle="collapse" data-parent="#collap" href="#collapse1">Loja 1</a>
                <div id="collapse1" class="collapse">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
                <div></div>
                <a data-toggle="collapse" data-parent="#collap" href="#collapse2">Loja 2</a>
                <div id="collapse2" class="collapse">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
                <div></div>
                <a data-toggle="collapse" data-parent="#collap" href="#collapse3">Loja 3</a>
                <div id="collapse3" class="collapse">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </div>
            </div>
        </div>
    </div>