
<!--
<h3 class="link-titulo">Categoria</h3>  			
<ul class="links">					
    <li><a href="#">Primeira</a></li>
    <li><a href="#">Segunda</a></li>
    <li ><a href="#">Terceira</a></li>
    <li ><a href="#">Quarta</a></li>				
</ul>
-->
<div class="container-fluid" style = "height : 100vh">
	<div class = "row">
		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">Categorias <span class="sr-only">(current)</span></li>
            <li><a href="#">Primeira</a></li>
            <li><a href="#">Segunda</a></li>
            <li><a href="#">Terceira</a></li>
          </ul>
        </div>
	</div>
      
</div>